#navbar-nofixed {
  color: #fff;
  height: 75px;
  background: rgba(0,0,0,0.95);
  box-shadow: 0 0 30px 15px #000;
  .navbar-brand {
    margin: auto;
  }
}

#navbar-fixed {
  background: rgba(0,0,0,0.95);
  color: #fff;
  height: 60px;
  transition: all 200ms ease-in;
  .nav-link {
    color: #fff;
  }
  &.hidden {
    visibility: hidden;
    transition: all 200ms ease-out;
    transform: translate(0, -100%);
  }
  #logo-unifei {
    margin-top: 50px;
    transition: transform 100ms;
  }
  #logo-unifei:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 767px) {
  #navbar-fixed {
    display: none;
  }
}

.jumbotron {
  margin-top: -75px;
  height: 650px;
  background-size: cover;
  padding: 0;
  border-radius: 0;
  .shadow {
    height: 100%;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    padding-top: 200px;
    img { 
      transition: all 200ms;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.or {
  color: #f60;
}

section {
  padding: 50px;
  opacity: 0;
  transition: all 750ms;
  &.active {
    opacity: 1;
  }
}

.img-box {
  padding-bottom: 20px;
  img {
    transition: all 200ms;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 767px) {
  .img-box {
    div {
      margin: 10px 0;
      text-align: center!important;
    }
  }
}

.dark {
  background-color: #000;
  color: #fff;
}

.text-box {
  margin-top: 20px;
  text-align: justify;
  text-align-last: center;
}

.member {
  margin: 20px auto;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px auto;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
  }
  h5 { font-size: 18px; }
  h3 { font-size: 15px; }
}

.team {
  margin: 30px 0;
  .team-img { width: 75%; }
  .team-name { font-size: 25px; }
  .member-list {
    list-style-type: none;
    padding: 0;
    li {
      font-size: 20px;
      margin-top: 3px;
    }
  }
}

@media (max-width: 767px) {
  .team {
    img {
      margin-bottom: 10px;
    }
    div {
      text-align: center!important;
    }
  }
}

.table tbody {
  margin-top: 30px;
  display: inline-block;
  color: #fff;
  .passed {
    text-decoration: line-through;
    color: #ccc;
  }
}

.sponsor {
  img {
    margin-top: 30px;
  }
}

footer {
  background-color: #000;
  color: #777;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  border-top: solid 1px #555;
}

.fb-link {
  position: fixed;  
  bottom: 70px;
  right: 10px;
}

.github-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fb-link, .github-link {
  transition: all 100ms;
}

.fb-link:hover, .github-link:hover {
  transform: translate(-10px, 0);
}